include navbar
.container
	section#guestForm
			.page-header
				h1 Add a Guest
				form.well
					label Name
					input(type="text")
					label Description
					input(type="text")
					label Mobile Phone Number
					input(type="text")
					p
						button.btn(type="submit") Save
	include footer
