include navbar
.container
	section#guestForm
			.page-header
				h1 Add a Guest
				form(action="/guests").well
					label Name
					input(type="text", id="name", name="name")
					label Description
					input(type="text", id="description", name="description")
					label Mobile Phone Number
					input(type="text", id="mobileNumber", name="mobileNumber")
					p
						button.btn(type="submit") Save
	include footer
